body { 
    color:#e9e9e9;
  }
a { 
    color:#ff0000;
  }

  .card {
    background: rgba(173, 40, 40, 0.9); /* White background with 10% opacity */
    min-width: 23rem;
    padding-top:16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1em;
  }
  
  .footertext {
    color: #f0f0f0;
  }
  
  a {
    color: #b4b4b4;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }