body {
  background-color: var(--brand-color-bkg);
  color: var(--brand-color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--brand-title-color);
}

.pheader {
  color: var(--brand-title-color);
  font-weight: bold;
}

a {
  color: var(--brand-color-link);
}

a:hover {
  color: var(--brand-color-link-hover);
}

.btn-colors {
  margin-top: -10px;
  background-color: var(--brand-color-button);
  color: var(--brand-color-button-text);
}

.btn-colors:hover {
  color: var(--brand-color-button-text);
}

input:focus {
  border: 1px solid var(--brand-color-focus);
  box-shadow: var(--brand-color-focus) 0px 2px 4px 0px;
  -webkit-box-shadow: var(--brand-color-focus) 0px 2px 8px 0px;
  -moz-box-shadow: var(--brand-color-focus) 0px 2px 8px 0px;
}

.topcorner {
  position: fixed;
  top: 0;
  right: 0;
  padding: 8px;
  background: #ffffff;
  border-radius: 0px 0px 0px 10px;
}

.card {
  min-width: auto !important;
  min-width: 33px;
}
