body { 
  color:#474c4e;
}

.card {
  background: rgba(255, 255, 255, 0.90); /* White background with 10% opacity */
  min-width: 23rem;
  padding-top:16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1em;
}

.footertext {
  color: #474c4e;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}