html,
body {
  height: 100%;
}
body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #818181;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.card {
  background: rgba(255, 255, 255, 0.9);
  min-width: auto !important;
  padding-top: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1em;
}

.formheader {
  margin-bottom: 15px;
  font-weight: bold;
}

/* CSS transitions */
.content-transition {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.content-hidden {
  opacity: 0;
  visibility: hidden;
}

/* Fade in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  animation: fadeIn 0.5s ease-in-out forwards;
}

/* Preload background image */
#preload {
  display: none;
}

.container {
  width: 100%; /* Ensure the container takes up full width */
}

.loginbkg {
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
}

.alert {
  font-size: 15px !important;
  text-align: left !important;
  padding: 11px;
}

.btn-purple,
.btn-purple:focus {
  background-color: #7e3794 !important;
  border-color: #7e3794;
  color: #fff;
}

.btn-purple:hover {
  color: #fff;
}

.btn-purple.dropdown-toggle {
  border-left-color: #9852ae !important;
}

.btn-purple.active {
  background-color: #69257e !important;
  border-color: #601e74;
}

.btn-purple.shiny {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM4YzQ0YTIiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzY5MjU3ZSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(
    linear,
    left top,
    left bottom,
    from(#8c44a2),
    to(#69257e)
  );
  background-image: -moz-linear-gradient(
    linear,
    left top,
    left bottom,
    from(#8c44a2),
    to(#69257e)
  );
  background-image: -o-linear-gradient(
    linear,
    left top,
    left bottom,
    from(#8c44a2),
    to(#69257e)
  );
  background-image: linear-gradient(
    linear,
    left to bottom,
    left bottom,
    from(#8c44a2),
    to(#69257e)
  );
}

.btn-purple:hover,
.open .btn-purple.dropdown-toggle {
  background-color: #8c44a2 !important;
  border-color: #8c44a2;
  color: #fff;
}

/* Center the loader container */
.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-signin {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
}

.page-signin-wider {
  width: 100%;
  max-width: 600px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin {
  width: 100%;
  max-width: 340px;
  margin: 0 auto;
}

.form-signin-wider {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
}

.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.grow {
  transition: all 0.2s ease-in-out !important;
}
.grow:hover {
  transform: scale(1.2) !important;
}

.growsm {
  transition: all 0.2s ease-in-out !important;
}
.growsm:hover {
  transform: scale(1.1) !important;
}
